* {
  text-decoration: none;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to right, white, 40%, #5a6f08);
}

header .logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0px;
  box-sizing: border-box;
  font-size: 30px;
}

header .logoContainer img {
  margin-right: 22px;
  width: 80px;
}

main {
  padding: 50px 40px;
}